appdirs
numpy
scipy
sympy
matplotlib==3.4.2
mergedeep
ipympl
plotly>=4.14.3
colorcet
param
panel
holoviews
bokeh
ipywidgets_bokeh
ipyevents
PyQt5
k3d
vtk
msgpack
adaptive>=0.13.1
mayavi>=4.8.0
# PyQt5>=5.15.7