matplotlib
numpydoc
sphinx-math-dollar
jupyter-sphinx
nbsphinx
nbsphinx_link
sphinx-rtd-theme
sphinx_plotly_directive
# # to be able to install mayavi we need:
# vtk
# to satidfy ipympl requirements we need
ipywidgets<8,>=7.6.0