sphinx==7.2.6 # verify that builds complete with this version
matplotlib
numpydoc
sphinx-math-dollar
jupyter-sphinx
nbsphinx
nbsphinx_link
sphinx-rtd-theme
sphinx_design
# sphinx_plotly_directive
git+https://github.com/Davide-sd/sphinx-plotly-directive@combine
sphinx_panel_screenshot
sphinx_k3d_screenshot
kaleido
# to satidfy ipympl requirements we need
ipywidgets<8,>=7.6.0
sphinxcontrib-video